*{
	margin: 20px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    box-sizing: border-box;
    background-color: #0c2b2e;
}

span {
    color: #f9004d;
}

.Habilidades h1{
    left: 8%;
    height: auto;
    margin: 20px 0px 20px;
    font-size: 40px;
    top: 50%;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
} 

#skills {
    list-style-type: none;
    color: white;
    margin: 33px;
}

#skills i {
    width: 20px;
    color: #7c67da;
    margin: 10px;
    font-size: 20px;
}